:root {
    --light-1:  #f8cf72;
    --light-2: #fdf1cf;
    --dark-1: #2f2224;
    --dark-2: #615658;
}

html {
    box-sizing: border-box;
}

body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('images/brick-bg.png');
    background-size: 300px;
    background-repeat: repeat;
    background-color: #7f9cad;
}

.logo {
    height: 160px;
    width: auto;
    order: 3;
}

#header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
}

.score-box {
    height: 80px;
    width: 150px;
    min-width: 140px;
    background-color: var(--dark-1);
    color: var(--light-1);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    border: 3px solid var(--dark-2);
    border-radius: 10px;
}

.high-score {
    order: 5;
    margin-right: 30px;
}

.current-score {
    order: 1;
    margin-left: 30px;
}

.score-heading {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: -20px;
}

.scores {
    font-size: 2.3em;
    margin: 28px;
}

.empty {
    /* background-color: white; */
    height: 80px;
    width: 120px;
    min-width: 60px;
}

#empty1 {
 order: 2;
}

#empty2 {
    order: 4;
}

.door-group {
    text-align: center;
}

.door-indiv {
    margin: 30px;
    height: auto;
    max-width: 16.5%;
    cursor: pointer;
}

.new-door-indiv {
    margin: 30px;
    height: auto;
    max-width: 16.5%;
    cursor: pointer;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.num-info {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.content {
    display: flex;
    justify-content: center;
}

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(97, 86, 88, 0.7);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: none;
}

.popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background: var(--light-2);
    width:900px;
    height:600px;
    z-index:2;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
    border: 2px var(--dark-2) solid;
    border-radius: 10px;
}

.instruction-number {
    font-family: 'Fredoka One', cursive;
    font-size: 5em;
    color: var(--light-1);
    padding-left: 20px;
}

.instruction-info {
    margin-top: 10px;
    color: var(--dark-2);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    padding-left: 20px;
    line-height: 40px;
    padding-right: 40px;
}

.popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    color: var(--dark-2);
    font-size:4em;
    font-weight:600;
    line-height:30px;
    text-align:center;
  }

.popup.active .overlay {
    display:block;
}

.popup.active .content {
    transform:translate(-50%,-50%) scale(1);
}

.move-right {
    margin-left: 10px;
}

.button-container {
    text-align: center;   
    display: flex;
}

.button {
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px 25px 0px 25px;
    height: 45px;
    background-color: var(--dark-1);
    color: var(--light-1);
    cursor: pointer;
    border-radius: 10px;
    line-height: 30px;
    margin: 0 30px 0 30px;
    border: 2px solid var(--dark-2);
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button:hover {
    background-color: var(--dark-2);
}

/* Media Queries */

/* Medium Devices, Desktops */
@media only screen and (max-width : 1367px) and (orientation: landscape) {
    .logo {
        height: 140px;
    }

    .door-indiv {
        margin: 10px 15px 25px 15px;
        max-width: 20%;
    }

    .empty {
        /* background-color: white; */
        height: 80px;
        width: 70px;
        min-width: 60px;
    }

    .score-box {
        height: 70px;
        width: 160px;
        min-width: 150px;
        margin: 15px 10px 0 10px;
    }

    .score-heading {
        font-size: 1.2em;
    }
    
    .scores {
        font-size:1.8em;
        margin: 20px;
    }

    .button {
        margin: -15px 15px 0px 15px;
        font-size: 1.8em;
        height: 50px;
        line-height: 0;
        padding: 4px 15px 0px 15px;
    }

    .num-info {
        padding: 10px 0;
    }
    
    .popup .content {
        width:760px;
        height:450px;
        padding:15px;
    }
    
    .instruction-number {
        font-size: 3em;
        padding-left: 15px;
    }
    
    .instruction-info {
        font-size: 1.8em;
        padding-left: 20px;
        line-height: 35px;
        padding-right: 15px;
    }

    .popup .close-btn {
        font-size:3.5em;
        line-height:50px;
    }

    @media only screen and (max-height : 1025px) {    
        
        .logo {
            height: 170px;
        }
    
        .door-indiv {
            margin: 10px 15px 25px 15px;
            max-width: 20.5%;
        }
    
        .empty {
            /* background-color: white; */
            height: 80px;
            width: 60px;
            min-width: 50px;
        }
    
        .score-box {
            height: 90px;
            width: 200px;
            min-width: 180px;
            margin: 15px 10px 0 10px;
        }
    
        .score-heading {
            font-size: 1.5em;
        }
        
        .scores {
            font-size:2.4em;
            margin: 30px;
        }

        .button {
            margin: -5px 15px 0px 15px;
            font-size: 2em;
            height: 60px;
            line-height: 0;
            padding: 4px 25px 0px 25px;
        }

        .popup .content {
            width:700px;
            height:500px;
            padding:15px;
        }
        
        .instruction-number {
            font-size: 4em;
            padding-left: 15px;
        }
        
        .instruction-info {
            font-size: 1.8em;
            padding-left: 20px;
            line-height: 35px;
            padding-right: 15px;
        }
    }

    @media only screen and (max-height : 412px) {
        
        #header {
            margin-top: -10px;
        }

        .logo {
            height: 70px;
        }
    
        .door-indiv {
            margin: -5px 10px 10px 10px;
            max-width: 17%;
        }

        .score-box {
            height: 50px;
            width: 100px;
            min-width: 90px;
        }
    
        .score-heading {
            font-size: 0.8em;
        }
        
        .scores {
            font-size:1.1em;
            margin: 25px;
        }
    
        .button {
            margin: -15px 10px 0px 10px;
            font-size: 1.2em;
            height: 30px;
            line-height: 0;
            padding: 3px 15px 0px 15px;
        }
    
        .num-info {
            padding: 10px 0;
        }
        
        .popup .content {
            width:550px;
            height:250px;
            padding:15px;
        }
        
        .instruction-number {
            font-size: 2em;
            padding-left: 15px;
        }
        
        .instruction-info {
            font-size: 1em;
            padding-left: 20px;
            line-height: 15px;
            padding-right: 15px;
        }
    
        .popup .close-btn {
            font-size:2.8em;
            line-height:20px;
        }
    }
}

@media only screen and (max-width : 1025px) and (max-height : 1367px) and (orientation: portrait) {
    .logo {
        height: 150px;
    }

    .empty {
        /* background-color: white; */
        height: 80px;
        width: 60px;
        min-width: 40px;
    }

    .score-box {
        height: 100px;
        width: 220px;
        min-width: 200px;
        margin: 15px 10px 0 10px;
    }

    .score-heading {
        font-size:1.8em;
    }
    
    .scores {
        font-size: 2.5em;
        margin: 35px;
    }

    .door-indiv {
        margin: 5px 50px 15px 50px;
        max-width: 25%;
    }

    .button {
        font-size: 2.2em;
        height: 60px;
        line-height: 30px;
        margin: 0 20px 0 20px;
    }

    .num-info {
        padding: 10px 0;
    }
    
    .popup .content {
        width:700px;
        height:500px;
        padding:15px;
    }
    
    .instruction-number {
        font-size: 3.5em;
        padding-left: 10px;
    }
    
    .instruction-info {
        font-size: 2em;
        padding-left: 20px;
        line-height: 40px;
        padding-right: 20px;
    }

    .popup .close-btn {
        font-size:3em;
        line-height:50px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 769px) and (orientation: portrait) {
    .logo {
        height: 140px;
    }

    .door-indiv {
        margin: 5px 30px 15px 30px;
        height: auto;
        max-width: 26%;
        cursor: pointer;
    }

    .empty {
        /* background-color: white; */
        height: 80px;
        width: 40px;
        min-width: 30px;
    }

    .score-box {
        height: 80px;
        width: 170px;
        min-width: 160px;
        margin: 15px 10px 0 10px;
    }

    .score-heading {
        font-size: 1.3em;
    }
    
    .scores {
        font-size:2.4em;
        margin: 28px;
    }

    .button {
        margin: -10px 15px 0px 15px;
        font-size: 1.8em;
    }

    .num-info {
        padding: 10px 0;
    }
    
    .popup .content {
        width:500px;
        height:400px;
        padding:15px;
    }
    
    .instruction-number {
        font-size: 3em;
        padding-left: 15px;
    }
    
    .instruction-info {
        font-size: 1.5em;
        padding-left: 20px;
        line-height: 35px;
        padding-right: 15px;
    }

    .popup .close-btn {
        font-size:3em;
        line-height:50px;
    }
}

@media only screen and (max-width : 769px) and (orientation: landscape) {
    .logo {
        height: 75px;
    }

    .door-indiv {
        margin: 0px 10px 15px 10px;
        max-width: 17%;
    }

    .empty {
        /* background-color: white; */
        height: 80px;
        width: 40px;
        min-width: 30px;
    }

    .score-box {
        height: 50px;
        width: 120px;
        min-width: 110px;
        margin: 15px 10px 0 10px;
    }

    .score-heading {
        font-size: 0.9em;
    }
    
    .scores {
        font-size:1.4em;
        margin: 22px;
    }

    .button {
        margin: -15px 10px 0px 10px;
        font-size: 1.1em;
        height: 28px;
        line-height: 0;
        padding: 4px 15px 0px 15px;
    }

    .num-info {
        padding: 10px 0;
    }
    
    .popup .content {
        width:550px;
        height:300px;
        padding:15px;
    }
    
    .instruction-number {
        font-size: 2.8em;
        padding-left: 15px;
    }
    
    .instruction-info {
        font-size: 1.3em;
        padding-left: 20px;
        line-height: 25px;
        padding-right: 15px;
    }

    .popup .close-btn {
        font-size:2.8em;
        line-height:20px;
    }
    
    @media only screen and (max-width :721px) and (max-height : 541px) {
        
        .logo {
            height: 90px;
        }
    
        .door-indiv {
            margin: 15px 10px 25px 10px;
            max-width: 20%;
        }
    }

    @media only screen and (max-width : 668px) and (max-height : 376px) {
        
        .logo {
            height: 70px;
        }
    
        .door-indiv {
            margin: -5px 10px 10px 10px;
            max-width: 18.5%;
        }

        .popup .content {
            width:500px;
            height:280px;
            padding:15px;
        }
        
        .instruction-number {
            font-size: 2.5em;
            padding-left: 15px;
        }
        
        .instruction-info {
            font-size: 1.1em;
            padding-left: 20px;
            line-height: 22px;
            padding-right: 15px;
        }
    }

    @media only screen and (max-height : 281px) {
        
        #header {
            margin-top: -10px;
        }

        .logo {
            height: 65px;
        }
    
        .door-indiv {
            margin: -10px 10px 10px 10px;
            max-width: 13%;
        }

        .score-box {
            height: 50px;
            width: 100px;
            min-width: 90px;
        }
    
        .score-heading {
            font-size: 0.8em;
        }
        
        .scores {
            font-size:1.1em;
            margin: 25px;
        }
    
        .button {
            margin: -15px 10px 0px 10px;
            font-size: 1em;
            height: 25px;
            line-height: 0;
            padding: 3px 15px 0px 15px;
        }
    
        .num-info {
            padding: 10px 0;
        }
        
        .popup .content {
            width:550px;
            height:250px;
            padding:15px;
        }
        
        .instruction-number {
            font-size: 2em;
            padding-left: 15px;
        }
        
        .instruction-info {
            font-size: 1em;
            padding-left: 20px;
            line-height: 15px;
            padding-right: 15px;
        }
    
        .popup .close-btn {
            font-size:2.8em;
            line-height:20px;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 541px) and (orientation: portrait) {
    .logo {
        height: 105px;
    }

    .door-indiv {
        margin: 5px 30px 15px 30px;
        height: auto;
        max-width: 24%;
        cursor: pointer;
    }

    .empty {
        /* background-color: white; */
        height: 80px;
        width: 30px;
        min-width: 30px;
    }

    .score-box {
        height: 55px;
        width: 110px;
        min-width: 110px;
        margin: 15px 10px 0 10px;
    }

    .score-heading {
        font-size: 0.9em;
    }
    
    .scores {
        font-size: 1.2em;
        margin: 25px;
    }

    .button {
        font-size: 1.3em;
        padding: 3px 10px 0px 10px;
        height: 45px;
        line-height: 0px;
        margin: -10px 5px 0px 5px;
    }

    .num-info {
        padding: 10px 0;
    }
    
    .popup .content {
        width:480px;
        height:380px;
        padding:15px;
    }
    
    .instruction-number {
        font-size: 3em;
        padding-left: 15px;
    }
    
    .instruction-info {
        font-size: 1.3em;
        padding-left: 20px;
        line-height: 25px;
        padding-right: 15px;
    }

    .popup .close-btn {
        font-size:3em;
        line-height:50px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 481px) and (orientation: portrait) {
    .logo {
        height: 80px;
        order: 2;
    }
    
    #header {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .score-box {
        height: 40px;
        width: 120px;
        min-width: 125px;
        margin: 15px 10px 0 10px;
    }

    .score-heading {
        margin-top: 6px;
        font-size: 0.9em;
    }
    
    .scores {
        font-size: 1.1em;
        margin: 22px;
    }

    .high-score {
        order: 5;
        margin-right: 15px;
    }
    
    .current-score {
        order: 4;
        margin-left: 15px;
    }

    .empty {
        /* background-color: white; */
        height: 50px;
        width: 100px;
        min-width: 5px;
    }
    
    #empty1 {
     order: 1;
    }
    
    #empty2 {
        order: 3;
    }

    .door-indiv {
        margin: 0px 10px 10px 10px;
        max-width: 30%;
    }

    .button {
        font-size: 1.2em;
        padding: 3px 10px 0px 10px;
        height: 40px;
        line-height: 0px;
        margin: -10px 5px 0px 5px;
    }
    
    .num-info {
        padding: 10px 0;
    }
    
    .popup .content {
        width:350px;
        height:320px;
        padding:15px;
    }
    
    .instruction-number {
        font-size: 2.2em;
        padding-left: 0px;
    }
    
    .instruction-info {
        margin-top: 5px;
        font-size: 1.1em;
        padding-left: 12px;
        line-height: 22px;
        padding-right: 20px;
    }

    .popup .close-btn {
        font-size:2em;
        line-height:20px;
      }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 361px) and (orientation: portrait) {
    .logo {
        height: 65px;
        order: 2;
    }
    
    #header {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .score-box {
        height: 40px;
        width: 100px;
        min-width: 100px;
        margin: 10px 10px 0 10px;
    }

    .score-heading {
        margin-top: 6px;
        font-size: 0.8em;
    }
    
    .scores {
        font-size: 1em;
        margin: 22px;
    }

    .high-score {
        order: 5;
        margin-right: 15px;
    }
    
    .current-score {
        order: 4;
        margin-left: 15px;
    }

    .empty {
        /* background-color: white; */
        height: 50px;
        width: 80px;
        min-width: 50px;
    }
    
    #empty1 {
     order: 1;
    }
    
    #empty2 {
        order: 3;
    }

    .door-indiv {
        margin: 0px 10px 5px 10px;
        max-width: 31%;
    }

    .button {
        font-size: 1em;
        padding: 3px 10px 0px 10px;
        height: 35px;
        line-height: 0px;
        margin: 0 5px 0px 5px;
    }
    
    .num-info {
        padding: 10px 0;
    }
    
    .popup .content {
        width:250px;
        height:340px;
        padding:15px;
    }
    
    .instruction-number {
        font-size: 2em;
        padding-left: 0px;
    }
    
    .instruction-info {
        margin-top: 5px;
        font-size: 1em;
        padding-left: 12px;
        line-height: 18px;
        padding-right: 20px;
    }

    .popup .close-btn {
        font-size:1.5em;
        line-height:5px;
      }

    @media only screen and (max-width : 281px) {
        .empty {
            /* background-color: white; */
            height: 50px;
            width: 30px;
            min-width: 20px;
        }
    }
}
